.nav-sidebar{ class: ("sidebar-collapsed-desktop" if collapsed_sidebar?) }
  .nav-sidebar-inner-scroll
    .context-header
      = link_to instance_statistics_root_path, title: _('Instance Statistics') do
        .avatar-container.s40.settings-avatar
          = sprite_icon('chart', size: 24)
        .sidebar-context-title= _('Instance Statistics')
    %ul.sidebar-top-level-items
      = nav_link(controller: :dev_ops_score) do
        = link_to instance_statistics_dev_ops_score_index_path do
          .nav-icon-container
            = sprite_icon('comment')
          %span.nav-item-name
            = _('ConvDev Index')
        %ul.sidebar-sub-level-items.is-fly-out-only
          = nav_link(controller: :dev_ops_score, html_options: { class: "fly-out-top-item" } ) do
            = link_to instance_statistics_dev_ops_score_index_path do
              %strong.fly-out-top-item-name
                = _('ConvDev Index')

      - if Gitlab::CurrentSettings.usage_ping_enabled
        = nav_link(controller: :cohorts) do
          = link_to instance_statistics_cohorts_path do
            .nav-icon-container
              = sprite_icon('users')
            %span.nav-item-name
              = _('Cohorts')
          %ul.sidebar-sub-level-items.is-fly-out-only
            = nav_link(controller: :cohorts, html_options: { class: "fly-out-top-item" } ) do
              = link_to instance_statistics_cohorts_path do
                %strong.fly-out-top-item-name
                  = _('Cohorts')

    = render 'shared/sidebar_toggle_button'
